# LiveKit core & agent packages
livekit>=1.0.9
livekit-agents[openai,silero,deepgram]>=1.1.1,<2.0.0
types-protobuf<5

# FastAPI backend
fastapi>=0.100.0
uvicorn>=0.20.0

# General dependencies
python-dotenv~=1.0
av>=14.0.0
cachetools>=6.0.0
pyyaml>=6.0.1
grpcio>=1.73.0
protobuf>=4.25.3
jinja2>=3.1.0
cohere>=4.3.1
aiohttp>=3.9.1
motor>=3.3.2
pymongo>=4.6.1
